@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

li{
    list-style: none;
    color: lightgray;
    font-family: 'Open Sans';
    font-size: 20px;
}
fieldset
{ 
border: solid 5px #080808;
background-color:grey !important;

}
body{
    background-color: grey;
}
legend{
    color: #592E83;
    font-family: 'Open Sans';
    font-size: 25px;
}
div{
    font-size: 80px;
    height: 150px;
    padding: none;
    margin: none;
    

}
p{
    color: rgb(130, 12, 134);
    text-align: center;
    font-family: 'Shadows Into Light';
    font: bolder;
}